html, body{
    max-width: 100%;
    overflow-x: hidden;
}

footer a{
    color: #53a7db !important;
    transition: all 400ms ease-in-out;
}

footer a:hover{
    color: #f27f0c !important;
}

button:focus, a:focus{
    outline: none !important;
}

#shadowed_tab{
    box-shadow: 0 0 5px #53a7db;
    border-radius: 7px;
}

#bg_gradient{
    background-image: linear-gradient(#fff, #53a7db, #53a7db, #053f5c, #053f5c);
}

#bg_grad_light{
    background-image: linear-gradient(#fff, #53a7db,#053f5c);
}

.ast-excerpt-container p{
    color: #53a7db;
}

.posted-on .published{
    color: #f27f0c;
}

.blog .ast-row{
    margin-top: 70px;
}

.ast-row .post{
    box-shadow: 0 0 5px #053f5c;
    border-radius: 7px;
}

.ast-row .post:hover{
    box-shadow: none;
}

.elementor-social-icons-wrapper .elementor-grid-item .elementor-icon{
    box-shadow: 0 0 5px #53a7db;
}

.elementor-social-icons-wrapper .elementor-grid-item .elementor-icon:hover{
    box-shadow: 0 0 10px #53a7db;
}

figcaption.gallery-caption{
    border: none !important;
}

a.ast-builder-social-element{
    box-shadow: 0 0 5px #53a7db;
    padding: 5px;
    transition: all 400ms ease-in-out !important;
}

a.ast-builder-social-element:hover{
    box-shadow: 0 0 10px #f27f0c;
}

a.ast-builder-social-element span{
    transition: all 400ms ease-in-out !important;
}

#standout_text{
    color: #53a7db; 
    font-size: 22px; 
    font-weight: bold;
}


/*RESPONSIVE DESIGN*/

@media(max-width:572px){
    #standout_text{
        color: #053f5c; 
    }
}