html, body{
    max-width: 100%;
    overflow-x: hidden;
}

footer a{
    color: #53a7db !important;
}

footer a:hover{
    color: #f27f0c !important;
}

button:focus, a:focus{
    outline: none !important;
  }